  <div class="container px-4 py-5 bg-light" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <h2>Nuestra empresa</h2>
            <p>Somos una empresa dedicada a la venta y distribución de libros y papeliar, podrás encontrar más información siguiendo el enlace.</p>
            <div class="row d-flex flex-row justify-content-right">
                <div class="logoRedes">
                    <img id="logo" src="../../../assets/icons/search.png">
                </div>     
            </div>
          </div>
          <div class="feature col">
            
            <h2>Siguenos en redes</h2>
            <p>Realizamos muchas actividades relacionadas con la lectura, edición y talleres para la creación de literatura. Siguenos en nuestras redes</p>
            <div class="row d-flex flex-row justify-content-right">
                <div class="logoRedes">
                    <img id="logo" src="../../../assets/icons/fb.png">
                </div>
                <div class="logoRedes">
                    <img id="logo" src="../../../assets/icons/instagram.png">
                </div>
                <div class="logoRedes">
                    <img id="logo" src="../../../assets/icons/twitter.png">
                </div>    
                
            </div>
                    
            
          </div>
          <div class="feature col">
            <h2>Politica de envíos</h2>
            <p>Nuestros envíos están protegidos por un sistema de garantía que hace que tus pedidos siempre lleguen a tiempo y en las mejores condiciones.</p>
            <div class="row d-flex flex-row justify-content-right">
                <div class="logoRedes">
                    <img id="logo" src="../../../assets/icons/search.png">
                </div>     
            </div>
          </div>
        </div>
      </div>
    

