<div class="container bg-light mt-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/lectura1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Alimenta tu imaginación</h2>
                <p>La lectura alimenta tu imaginación y tu felicidad. Intentaló y lo entenderás</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/lectura2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Tenemos el libro que buscas</h2>
                <p>Ese libro que tanto te gusta, lo tenemos, y si no es así lo buscamos hasta encontrarlo</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/lectura3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Disfruta tus momentos</h2>
                <p>Cualquiér momento es bueno para perderte en un libro, en casa, en el campo, en el parque,...</p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

  <div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/aventuras.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Libros para niños</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/guerra.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Novelas bélicas</h5>
              <p class="card-text">El arte de la guerra es uno de los más exitosos de nuestra librería</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/mundoLectura.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Un mundo por explorar</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        
      </div>
  </div>
  